@model IEnumerable<CoreAndFood.Data.Models.Admin>

<div class="team">
    <div class="container">
        <h3>Muhteşem Ekibimizle Tanışın </h3>
       


        <div class="agileits_team_grids">
            @foreach (var item in Model)
            {
                <div class="col-md-4 agileits_team_grid">

                    <img style="width:250px; height:250px" src="@item.ImageURL" alt=" " class="img-responsive" />
                    <h4>@item.UserName </h4>
                    <p>Yönetici</p>
                    <ul class="agileits_social_icons agileits_social_icons_team">
                        <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    </ul>
                    
                </div>
            }
                <div class="clearfix"> </div>

            </div>

        
    </div>
</div>
